<div class="flex w-full mt-2 space-x-3 max-w-xl ml-auto justify-end">
  <div>
    <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
      <p class="text-sm">{{ query }}</p>
    </div>
    <span class="text-xs text-gray-500 leading-none">2 min ago</span>
  </div>
  <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
</div>
<div class="flex w-full mt-2 space-x-3 max-w-xl">
  <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
  <div>
    <div class="bg-gray-300 p-3 rounded-r-lg rounded-bl-lg">
      {{ answer|safe }}
    </div>
    <span class="text-xs text-gray-500 leading-none">2 min ago</span>
  </div>
</div>